body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.edit_input{
  line-height: 38px;
  overflow: hidden;
  width: 60%;
}
.edit_input input{
  width: 100%;
  font-weight: bold;
}
.content{
  font-weight: bold !important;
  line-height: 38px;
}